header {
    padding: 28px;
    text-align: center;
    background-image: url("../assets/headerimg.jpg");
    color: white;
    -webkit-text-stroke: 1px navy;
    
  }

  .none {
    display: none;
}

.block {
    display: block;
}